.site-footer {
  text-align: center;
  input[type="text"] {
    width: calc(100% - 140px);
  }
  a {
    color: $link-color;
    &:visited {
      color: $link-color;
    }
  }
  .footer-col-wrapper {
    font-size: 13px;
  }
}