<div id="author">
  <img class="profile-image" src="/assets/shobhit.jpg" width="120" />
  <h1 class="author-name">
    <p>Shobhit Sharma</p>
  </h1>
  <p class="author-tagline">Full Stack Engineer</p>
  <!-- Social links -->
  <p>
    <ul class="social-media-list">
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      <li>
        {% include icon-linkedin.html %}
      </li>
    </ul>
  </p>
  <p>
    <a href="/about">More about me</a>
  </p>
  <!-- <hr /> {% twitter https://twitter.com/sh0bhit maxwidth=500 limit=3 %} -->
</div>