$title-color: #111;
$title-inactive-color: #9c9c9c;
$post-meta-color: #666666;

.wrapper {
  max-width: -webkit-calc(340px + #{$content-width} - (#{$spacing-unit} * 2)) !important;
  max-width: calc(340px + #{$content-width} - (#{$spacing-unit} * 2)) !important;
}

.pagination {
  text-align: center;
}

.post-image {
  background: $border-color;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -ms-background-size: cover;
  background-size: cover;
}

.post-excerpt {
  color: $font-color-lite;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 25px;
  line-height: 1.5;
}

.posts-list {
  article {
    border: 1px solid $border-color;
    padding: 0;
    margin-bottom: $spacing-unit;
    transition: box-shadow 0.15s ease;
    &:hover {
      box-shadow: 0 2px 8px rgba(236, 236, 236, 0.75);
    }
  }
  .post {
    min-height: 135px;
  }
  .post-image {
    display: table-cell;
    width: 200px;
    height: 135px;
  }
  .post-details {
    display: table-cell;
    padding: 15px;
  }
  .post-meta {
    margin-bottom: 0;
    color: $post-meta-color;
  }
  @media screen and (max-width: 600px) {
    .post-image,
    .post-details {
      display: block;
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
  }
}

.post-content {
  img {
    max-width: calc(100% - 10px);
  }
  img.inline-img {
    margin: 20px;
  }
  h1 {
    border-bottom: rgb(234, 236, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 32px;
    color: rgb(36, 41, 46);
    line-height: 40px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
    line-height: 1.25;
    color: rgb(36, 41, 46) !important;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #24292e !important;
    line-height: 25px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  h5 {
    color: rgb(36, 41, 46);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.5px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.post-tags {
  .tag {
    border: 1px solid $border-color;
    font-size: 85%;
    padding: 3px 5px;
    border-radius: 5px;
  }
}

.side-projects-note {
  font-size: 14px;
  line-height: 1.4;
}

.post-title {
  a {
    color: $title-color;
    text-decoration: none;
    &:hover {
      color: #0037F5;
    }
  }
  font-weight: 600;
  @include relative-font-size(2);
  letter-spacing: 0px;
  line-height: 1.4em;
  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

.site-header {
  border-top: none;
  border-bottom: none;
  height: 150px;
  .site-title {
    color: $title-color;
    font-weight: 700;
    line-height: 1.2em;
    font-size: 32px;
    margin-top: 30px;
    text-decoration: none;
  }
  .navigation-items {
    margin-top: 20px;
    a {
      color: $title-inactive-color;
      margin-right: 20px;
      padding-left: 10px;
      text-decoration: none;
      &.active {
        color: $title-color;
      }
    }
  }
}

/* Mobile view, the header buttons were misaligned without this */

@media screen and (max-width: 600px) {
  .site-nav .page-link {
    margin-right: 0 !important;
  }
}

.site-title {
  color: $font-color !important;
}

.post-meta {
  margin-top: -5px;
  * {
    color: $font-color-lite;
  }
}

.page-content {
  padding-top: 0px;
  .home {
    .post-title {
      font-weight: 600;
      @include relative-font-size(1.4);
      letter-spacing: 0px;
      line-height: 1.4em;
      @include media-query($on-laptop) {
        @include relative-font-size(1.4);
      }
    }
    .post-meta {
      margin-top: -10px;
    }
  }
}

.archive-post-list {
  .archive-post-year {
    border-left: 1px solid $border-color;
    padding-left: 25px;
    margin-bottom: 50px;
    .archive-post-articles {
      display: block;
      width: 100%;
      .archive-tag {
        font-size: 80%;
        color: $font-color-lite;
        margin: 0;
        width: 150px;
        text-align: right;
        padding-right: 15px;
      }
      .archive-title {
        color: $link-color;
      }
    }
  }
  h1 {
    font-weight: 700;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: table;
      width: 100%;
      span {
        display: table-cell;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .archive-post-articles {
      ul li {
        margin-bottom: 15px;
        span {
          display: block;
        }
      }
      .archive-tag {
        text-align: left !important;
      }
    }
  }
}