p {
  color: $font-color;
}

ul {
  margin-top: 0;
}

li {
  color: $font-color;
  font-weight: 400;
  line-height: 1.5;
}

li + li {
  margin-top: 0.25em;
}

footer {
  a {
    text-decoration: none;
  }
}

hr {
  color: $border-color;
  background-color: $border-color;
  height: 1px;
  flex: 0 1 auto;
  margin: 1em 0;
  padding: 0;
  border: none;
}

small {
  color: rgba(68, 68, 68, 0.7);
}

blockquote {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-left-width: 3px;
  font-size: 14px;
  padding: 0 1em;
  * {
    font-style: normal !important;
    color: $font-color-lite;
  }
}

article {
  max-width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
b {
  font-family: $base-font-family-bold;
  font-weight: 700;
}

svg {
  vertical-align: middle;
}

pre,
code {
  font-family: $code-font-family;
  font-size: 13px;
  border: none;
  background: transparent;
  line-height: 1.6;
}

.icon > svg path {
  fill: transparent;
}

.feather {
  width: 14px;
  height: 14px;
  margin-top: -2px;
}

.highlighter-rouge {
  .highlight {
    background: $background-color-lite;
    border-radius: 5px;
  }
}

@import "custom/header", "custom/author", "custom/content", "custom/footer";
