.site-footer {
  input[type="text"] {
    width: calc(100% - 140px);
  }
  a {
    color: $link-color;
    &:visited {
      color: $link-color;
    }
  }
}

@media screen and (max-width: 600px) {
  .site-footer {
    text-align: center;
  }
}